.card {
    position: relative;
    display: flex;
    padding: 15px;
    width: 400px;
    margin-top: 20px;
}

svg.edit,
svg.delete,
svg.like {
    cursor: pointer;
    width: 15px;
}

.delete {
    margin-right: 0;
}

.like {
    position: absolute;
    bottom: 6px;
    right: 10px;
}

.textarea {
    background-color: transparent;
    width: 100%;
    resize: none;
}
